.settings {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 20px;
}

.settings-item {
	width: 100%;
}

select {
	margin: 6px;
	padding: 4px;
	background-color: #1a1a1a;
	border-radius: 6px;
	border: none;
	color: white;
}

