#root {
  text-align: center;
	width: 100%;

	--shadow-color: #9500ff;
	--border-color: #6200a7;
	--text-color: #d698ff;
	--cell-color: #9500ff40;
}

/* Header styling */
header {
	position: absolute;
	top: 0;
  background-color: #151515;
  text-align: center;
	padding: 15px;
  width: 100%;
	box-sizing: border-box;
}

header h1 {
  margin: 0;
	font-size: 1.5em;
}

.red {
	--shadow-color: #ff0000;
	--border-color: #a00000;
	--text-color: #ffa3a3;
	--cell-color: #ff000040;
}

.orange {
	--shadow-color: #ff7b00;
	--border-color: #8a4300;
	--text-color: #ffbb7b;
	--cell-color: #ff7b0040;
}

.yellow {
	--shadow-color: #fbff00;
	--border-color: #818400;
	--text-color: #fdff93;
	--cell-color: #fbff0040;
}

.green {
	--shadow-color: #2bff00;
	--border-color: #189200;
	--text-color: #9aff86;
	--cell-color: #2bff0040;
}

.blue {
	--shadow-color: #0048ff;
	--border-color: #0035b9;
	--text-color: #8cadff;
	--cell-color: #0048ff40;
}

.purple {
	--shadow-color: #9500ff;
	--border-color: #6200a7;
	--text-color: #d698ff;
	--cell-color: #9500ff40;
}